LISTEN_ON=127.0.0.1:7001
MODE=dev
TOOLS_DIRECTORY=tools
PODMAN_SOCKET_ADDRESS=unix://run/podman/podman.sock
ACCESS_KEY=H4aNDQtA746jChCdGFG7n69SJfne6pqygTySPaCaqFHbfuO0TUKTN3reAi6RazUFLYpyEbPkOMkkT0ongBckukZqQzKplB6kdnzgrfF6E1DYabEWrT9VaB8wbB6vnwnS