
[Unit]
Description=Workerengine task execution
After=network.target

[Service]
Type=simple
User=root
EnvironmentFile=/opt/workerengine/env
WorkingDirectory=/opt/workerengine
ExecStart=/opt/workerengine/workerengine

[Install]
WantedBy=multi-user.target