
[Unit]
Description=Workerengine task execution
After=network.target
Wants=podman.socket

[Service]
Type=simple
User=root
WorkingDirectory=/opt/workerengine
ExecStart=/opt/workerengine/workerengine

[Install]
WantedBy=multi-user.target